:root {
  --dash-green-00: #0e353d;
  --dash-green-01: #3e5d64;
  --dash-green-02: #6e868b;
  --dash-green-03: #9faeb1;
  --dash-green-04: #cfd7d8;
  --dash-green-05: #d9dfe0;
  --dash-green-06: #f5f7f7;

  --dash-darker-green-00: #071a1e;

  --mid-green-00: #0e6476;
  --mid-green-01: #3e8391;
  --mid-green-02: #6ea2ad;
  --mid-green-03: #9fc1c8;
  --mid-green-05: #d9e6e9;

  --orange-00: #fe5b33;
  --orange-01: #fe7c5c;

  --dark-orange-00: #bf2600;

  --functional-red-01: #8b0018;
  --functional-red-02: #ff002d;

  --grey-00: #615b57;
  --grey-01: #999592;
  --grey-02: #ccc7c2;
  --grey-03: #d6d2ce;
  --grey-04: #e0ddda;
  --grey-05: #ebe9e7;

  --validator-green: #20b422;
  --validator-red: var(--functional-red-02);

  --orange: var(--orange-00);
  --dash-green: var(--dash-green-00);
  --mid-green: var(--mid-green-00);

  --modal-box-shadow-color: rgba(0, 0, 0, 0.2);
}
